{% extends "/home/darmar796/hult_version2/accounts/templates/accounts/master_loggedin.html" %}

{% block title %}
  Players
{% endblock %}


{% block content %}

  <h1> Remaining Spots: {{players_count}} </h1>

  {% if players_count == 0 %}
    <h5> Remaining Waitlist Spots: {{waitlist_count}} </h5>
  {% endif %}

  {% if waitlist_count == 0 %}
    <h9> Both lists are FULL!!! Check again later! </h9>
  {% endif %}

  <ol>
    {% for x in currentplayers %}
      {% if forloop.counter > 15 %}
        <li><a href="/games/{{game_id}}/{{x.id}}" style="color: red">{{ x.name }}</a> </li>
      {% else %}
        <li><a href="/games/{{game_id}}/{{x.id}}">{{ x.name }}</a> </li>
      {% endif %}
    {% endfor %}
  </ol>

  <p><a href="/games/input/{{game_id}}">Join</a></p>

  <p><a href="/games/">Back</a></p>

{% endblock %}
