{% extends "/home/darmar796/hult_version2/accounts/templates/accounts/master_loggedin.html" %}

{% block title %}
  Players
{% endblock %}


{% block content %}

  <div class="div-3">

      <h1 class="text-red"> Open Spots: {{players_count}} </h1>

      {% if players_count == 0 %}
        <h5 class="text-red"> Open Waitlist Spots: {{waitlist_count}} </h5>
      {% endif %}

      {% if waitlist_count == 0 %}
        <h9 class="text-red"> Both lists are FULL!!! Please check again later! </h9>
      {% endif %}

      <ol>
        {% for x in currentplayers %}
          {% if forloop.counter > 15 %}
            <li class="text-red"><a href="/games/{{game_id}}/{{x.id}}" style="color: red">{{ x.name }}</a> </li>
          {% else %}
            <li class="text-green"><a href="/games/{{game_id}}/{{x.id}}" style="color: #00FF00">{{ x.name }}</a> </li>
          {% endif %}
        {% endfor %}
      </ol>

      <p><a href="/games/">Back</a></p>
  </div>

{% endblock %}
