{% extends "/home/darmar796/hult_version2/accounts/templates/accounts/master_loggedin.html" %}

{% block title %}
  Modify
{% endblock %}


{% block content %}

  <div class="div-3">
      <h1 class="text-white">Player: {{player_name}} </h1>
      <h3 class="text-white">Added by: {{user_name}} </h3>

      {% comment %}
      {% if player_name == '---JOIN---' %}

      {% else %}


      {% endif %}
      {% endcomment %}

      <p><a href="/games/{{game_id}}/{{player_id}}/input" style="color: yellow">Modify</a></p>

      <p><a href="/games/{{game_id}}/{{player_id}}/remove" style="color: red">Remove</a></p>

      <p><a href="/games/{{game_id}}/">Back</a></p>
  </div>

{% endblock %}